<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="listFile" value="C:\Users\Chris\source\repos\CIT255FinalApplication\CIT255FinalApplication\listManagerItems.txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>